 <div class="container">
<h3>Welcome to Tintoy Shop!</h3>
<div class="q-pa-md row items-start q-gutter-md">

<div class="text">

<div>We are a tiny store with nice toys the small and big ones can enjoy whithout thinking they are not suited to do so. Based in Prague we offer a varietyof products which range from absolutely adorable toys to things which just make you go WHOA!</div>
<div>Anyway - we are glad you came to our website and feel free to check our product catalogue below.</div>
</div>
<div class="text">
<div>Once you have decided which of the products you like the most, place it into the shopping cart by clicking the "Buy" button. After that there are several options you might want to explore:</div>
<div>Adding another product into the cart (even multiple ones)
Search through the product names or descriptions using the search field
Checking the cart by clicking the cart icon, going back or completing your order</div>
</div>
</div>
<h3>Let’s play all day</h3>
<div>This is basically our motto and we tend to live by that. If anyone tells us differently, we will probably just ignore that and move on. Ooooor... we might show them one of our fine products so he/she might get also fascinated by our toys. Check our featured collection!</div>
<div class="title">
<h2>FEATURED COLLECTION</h2>
</div>
</div>

 <div id="q-app" style="min-height: 100vh;">
<div class="q-pa-md">
<q-stepper
v-model="step"
ref="stepper"
alternative-labels
active-icon="none"
active-color="black"
done-color="grey"
animated
>
<q-step
:name="1"
prefix="1"
:done="step > 1"
>
For each ad campaign that you create, you can control how much you're willing to
spend on clicks and conversions, which networks and geographical locations you want
your ads to show on, and more.
</q-step>

<q-step
color="grey"
:name="2"
prefix="2"
:done="step > 2"

>
An ad group contains one or more ads which target a shared set of keywords.
</q-step>

<template v-slot:navigation>
<q-stepper-navigation>
<q-btn color="black" @click="$refs.stepper.previous()" label="Back" class="q-ml-sm"></q-btn>
<q-btn @click="$refs.stepper.next()" :label="step === 2 ? 'Finish' : 'Continue'"></q-btn>
</q-stepper-navigation>
</template>
</q-stepper>
</div>
</div>
</div> —>


<div id="q-app" style="min-height: 100vh;">
<div class="q-pa-md container">

<div class="row">
<div class="col items-center" flex flex-center>
<div class="cart__title">product details</div>

</div>
<div class="col">quantity</div>
<div class="col">price without vat</div>
<div class="col">price</div>
</div>

<div class="row ">
<div class="col items-center">
<div class="product">
<img src="" alt="">
<div class="product__name">
<div>The Batmobile</div>
<div>Lego</div>

<button>Remove</button>

</div>
</div>

</div>
<div class="col">
<div class="quantity">
<div class="plus"><button>+</button></div>
<div class="count">1</div>
<div class="minus"><button>-</button></div>
</div>

</div>
<div class="col">
<div class="vat">
<div>$79.00</div>
</div></div>
<div class="col">
<div class="price">
<div>$99.00</div>
</div></div>
</div>

</div>
</div>
